<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BEERS SEARCH</h1>
    <form method= "POST" action="/search">
        <span>STYLE: <select type="text" name = "style">
            <option data-th-each = "style:${styles}" data-th-text = "${style}"></option>
        </select></span>
        <span><button type = "submit">SEARCH</button></span>
    </form>
</body>
</html>